{% extends 'base.html' %}

{% block title %}
    Pesquisar
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    <div class="container" style="width: 50%;">
        <div class="div-menu">
            <p class="messages">Selecione os dados que deseja visualizar:</p>
            <div class="button-container">
                <input type="radio" class="btn-check" id="btn-empresa" name="table-select" autocomplete="off"/>
                <label class="btn btn-secondary label-empresa" for="btn-empresa" style="margin-right: 5px;" onclick="window.location = '{{ url_for('views.pesquisar_tables', table='registros_empresa')}}';">
                    Registros
                </label>

                <input type="radio" class="btn-check" id="btn-motoristas" name="table-select" autocomplete="off"/>
                <label class="btn btn-secondary label-motoristas" for="btn-motoristas" style="display: flex; margin-right: 5px;" onclick="window.location = '{{ url_for('views.pesquisar_tables', table='motoristas')}}';">
                    <span style="margin: auto;">
                        Cadastros
                    </span>
                </label>
            </div>
        </div>
    </div>
{% endblock %}