{% extends 'base.html' %}

{% block title %}
    Pesquisar - Visitantes
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    <div class="container" style="width: 100%;">
        <div class="div-menu">
            <div class="button-container">
                <input type="radio" class="btn-check" id="btn-empresa" name="table-select" autocomplete="off"/>
                <label class="btn btn-secondary label-empresa" for="btn-empresa" style="margin-right: 5px;" onclick="window.location = '{{ url_for('front_end.pesquisar_tables', table='empresa')}}';">
                    Veículos da empresa
                </label>

                <input type="radio" class="btn-check" id="btn-visitantes" name="table-select" autocomplete="off" checked/>
                <label class="btn btn-secondary label-visitantes" for="btn-visitantes" style="display: flex;" onclick="window.location = '{{ url_for('front_end.pesquisar_tables', table='visitantes')}}';">
                    <span style="margin: auto;">
                        Visitantes
                    </span>
                </label>
            </div>

            <div class="input-group mb-3 div-date">
                <span class="input-group-text">De</span>
                <input type="date" class="form-control" id="start" autocomplete="off">
                <span class="input-group-text">até</span>
                <input type="date" class="form-control" id="stop" autocomplete="off">
            </div>
            <div class="div-table" id="div-table-visitantes">
                <div class="input-group mb-3 div-date">
                    <button class="btn btn-outline-success" id="refresh-table">Atualizar</button>
                </div>
                <table id="registros_visitantes" border="1">
                    <thead>
                        <tr>
                            <th>Data/Hora</th>
                            <th>Categoria</th>
                            <th>Nome</th>
                            <th>Documento</th>
                            <th>Placa</th>
                            <th>Empresa</th>
                            <th>Destino</th>
                            <th>Obs</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% block scripts %}
    <script>
        $(document).ready(function () {
            let table = $('#registros_visitantes').DataTable({
                ajax: {
                    url: '/api/registros_visitantes',
                    data: function(dtParms) {
                        dtParms.minDate = $('#start').val();
                        dtParms.maxDate = $('#stop').val();
                        return dtParms
                    },
                },
                order: [[0, 'desc']],
                processing: true,
                serverSide: true,
                language: {
                    url: '/pt-BR.json'
                },
                columns: [
                    {data: 'data_reg'},
                    {data: 'categoria', searchable: false},
                    {data: 'nome'},
                    {data: 'documento'},
                    {data: 'placa', orderable: false},
                    {data: 'empresa'},
                    {data: 'destino'},
                    {data: 'observacoes', orderable: false}
                ],
            });

            document.getElementById('refresh-table').addEventListener('click', () => table.draw());
        });
    </script>
{% endblock %}
{% endblock %}

