{% extends 'base.html' %}

{% block title %}
    Pesquisar - Visitantes
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    <div class="container" style="width: 70%;">
        <button class="hidden" id="reload-table"></button>
        <div class="div-menu">
            <div class="button-container">
                <input type="radio" class="btn-check" id="btn-motoristas" name="table-select" autocomplete="off"/>
                <label class="btn btn-secondary label-motoristas" for="btn-motoristas" style="display: flex; margin-right: 5px;" onclick="window.location = '{{ url_for('views.pesquisar_tables', table='motoristas')}}';">
                    <span style="margin: auto;">
                        Motoristas
                    </span>
                </label>

                <input type="radio" class="btn-check" id="btn-placas" name="table-select" autocomplete="off"/>
                <label class="btn btn-secondary label-placas" for="btn-placas" style="display: flex; margin-right: 5px;" onclick="window.location = '{{ url_for('views.pesquisar_tables', table='placas')}}';">
                    <span style="margin: auto;">
                        Placas
                    </span>
                </label>

                <input type="radio" class="btn-check" id="btn-visitantes" name="table-select" autocomplete="off" checked/>
                <label class="btn btn-secondary label-visitantes" for="btn-visitantes" style="display: flex;" onclick="window.location = '{{ url_for('views.pesquisar_tables', table='visitantes')}}';">
                    <span style="margin: auto;">
                        Visitantes
                    </span>
                </label>
            </div>
            <div class="input-group mb-3 div-date" style="display: flex; margin: auto;" id="cadastrarField">
                <button class="btn btn-outline-success" id="add-visitante" style="margin: auto;">Cadastrar visitante</button>
            </div>
            <div class="div-table" id="div-table-visitantes">
                <table id="table-visitantes" class="edit-tables" border="1" style="table-layout: auto ; width: 100%; margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Editar</th>
                            <th>Nome</th>
                            <th>Documento</th>
                            <th>Empresa</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" style="top: 50%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Visitantes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="editFormVisitantes" method="post" class="edit" autocomplete="off">
                        <div class="form-group hidden">
                            <label for="editId">ID</label>
                            <input type="text" class="form-control" id="editId" name="id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="editNome">Nome</label>
                            <input type="text" class="form-control" id="editNome" name="nome" style="display: flex; margin: auto;" required>
                        </div>
                        <div class="form-group" style="display: flex;">
                            <div class="form-group" style="margin-right: 5px;">
                                <label for="editDocumento">Documento</label>
                                <input type="text" class="form-control" id="editDocumento" name="documento" style="display: flex; margin: auto;" required>
                            </div>
                            <div class="form-group">
                                <label for="editEmpresa">Empresa</label>
                                <input type="text" class="form-control" id="editEmpresa" name="empresa" style="display: flex; margin: auto;" required>
                            </div>
                        </div>
                        <div class="form-group" style="display: flex;">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-right: 5px;">Cancelar</button>
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" style="top: 50%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Excluir Cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="deleteFormVisitantes" method="post" class="delete" autocomplete="off">
                        <div class="form-group hidden">
                            <label for="deleteId">ID</label>
                            <input type="text" class="form-control" id="deleteId" name="id" readonly>
                        </div>
                        <div class="form-group">
                            <label>Tem certeza que deseja excluir este cadastro?</label>
                        </div>
                        <div class="form-group" style="display: flex;">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-right: 5px;">Cancelar</button>
                            <button type="submit" class="btn btn-success">Sim</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% block scripts %}
    <script>
        $(document).ready(function () {
            let table = $('#table-visitantes').DataTable({
                ajax: {
                    url: '/api/visitantes',
                },
                language: {
                    url: '/pt-BR.json'
                },
                columns: [
                    {data: 'id', visible: false},
                    {
                        data: null,
                        defaultContent: "",
                        orderable: false,
                        render: function (data, type, row) {
                            if ('{{ current_user.is_editor }}' == 'True') {
                                return "<img src='{{ url_for('static', filename='images/lapis.png') }}' class='edit-images' id='btn-edit' alt='icone_lapis'/>" +
                                       "<img src='{{ url_for('static', filename='images/lixeira.png') }}' class='edit-images' id='btn-delete' alt='icone_lixeira'/>";
                            }
                            return "<img src='{{ url_for('static', filename='images/lapis.png') }}' class='edit-images-disabled' alt='icone_lapis'/>" +
                                   "<img src='{{ url_for('static', filename='images/lixeira.png') }}' class='edit-images-disabled' alt='icone_lixeira'/>";
                        }
                    },
                    {data: 'nome'},
                    {data: 'documento'},
                    {data: 'empresa'}
                ],
            });

            $('#table-visitantes tbody').on('click', '#btn-edit', function () {
                var data = table.row($(this).parents('tr')).data();
                $('#editId').val(data.id);
                $('#editNome').val(data.nome);
                $('#editDocumento').val(data.documento);
                $('#editEmpresa').val(data.empresa);
                $('#editModalLabel').text('Editar Visitante');
                $('#editModal').modal('show');
            });

            $('#add-visitante').on('click', function () {
                $('#editId').val(null);
                $('#editNome').val(null);
                $('#editDocumento').val(null);
                $('#editEmpresa').val(null);
                $('#editModalLabel').text('Incluir Visitante');
                $('#editModal').modal('show');
            });

            $('#table-visitantes tbody').on('click', '#btn-delete', function () {
                var data = table.row($(this).parents('tr')).data();
                $('#deleteId').val(data.id);
                $('#deleteModal').modal('show');
            });

            $('#reload-table').on('click', function() {
                table.ajax.reload();
            });

            $('#editNome').on('input', function() {
                setupOnlyLetters('editNome');
            });

            $('#editEmpresa').on('input', function() {
                setupOnlyLetters('editEmpresa');
            });

            if ('{{ current_user.is_editor }}' == 'False') {
                $('#cadastrarField').addClass('hidden');
            };
        });
    </script>
{% endblock %}
{% endblock %}
