{% extends 'base.html' %}

{% block title %}
    Pesquisar
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    <div class="container" style="width: 50%;">
        <div class="div-menu">
            <p class="messages">Selecione os dados que deseja visualizar:</p>
            <div class="button-container">
                <input type="radio" class="btn-check" id="empresa" name="table-select" autocomplete="off"/>
                <label class="btn btn-secondary label-empresa" for="empresa" style="margin-right: 5px;" onclick="window.location = '{{ url_for('front_end.pesquisar_tables', table='empresa')}}';">
                    Veículos da empresa
                </label>

                <input type="radio" class="btn-check" id="visitantes" name="table-select" autocomplete="off"/>
                <label class="btn btn-secondary label-visitantes" for="visitantes" style="display: flex;" onclick="window.location = '{{ url_for('front_end.pesquisar_tables', table='visitantes')}}';">
                    <span style="margin: auto;">
                        Visitantes
                    </span>
                </label>
            </div>
        </div>
    </div>
{% endblock %}