{% extends 'base.html' %}

{% block title %}
    Editar - Placas
{% endblock %}

{% block content %}
    {% include 'flash.html' %}
    <div class="container" style="width: 50%;">
        <div class="div-menu">
            <div class="button-container">
                <input type="radio" class="btn-check" id="btn-placas" name="table-select" autocomplete="off" checked/>
                <label class="btn btn-secondary label-placas" for="btn-placas" style="margin-right: 5px;" onclick="window.location = '{{ url_for('front_end.editar_tables', table='placas')}}';">
                    Placas
                </label>

                <input type="radio" class="btn-check" id="btn-motoristas" name="table-select" autocomplete="off"/>
                <label class="btn btn-secondary label-motoristas" for="btn-motoristas" style="display: flex;" onclick="window.location = '{{ url_for('front_end.editar_tables', table='motoristas')}}';">
                    <span style="margin: auto;">
                        Motoristas
                    </span>
                </label>
            </div>
            <div class="input-group mb-3 div-date" style="display: flex; margin: auto;">
                <button class="btn btn-outline-success" id="add-placa" style="margin: auto;">Cadastrar placa</button>
            </div>
            <div class="div-table" id="div-table-placas">
                <table id="placas" class="edit-tables" border="1" style="table-layout: auto ; width: 80%; margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Editar</th>
                            <th>Placa</th>
                            <th>Veículo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" style="top: 50%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Placas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="form-group hidden">
                            <label for="editId">ID</label>
                            <input type="text" class="form-control" id="editId" name="id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="editPlaca">Placa</label>
                            <input type="text" class="form-control" id="editPlaca" name="placa" autocomplete="off" style="display: flex; margin: auto; width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="editVeiculo">Veiculo</label>
                            <input type="text" class="form-control" id="editVeiculo" name="veiculo" autocomplete="off" style="display: flex; margin: auto; width: 70%;">
                        </div>
                        <div class="form-group" style="display: flex;">
                            <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Salvar</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% block scripts %}
    <script>
        $(document).ready(function () {
            let table = $('#placas').DataTable({
                ajax: {
                    url: '/api/placas',
                },
                language: {
                    url: '/pt-BR.json'
                },
                columns: [
                    {data: 'id', visible: false},
                    {
                        data: null,
                        defaultContent: "<img src='{{ url_for('static', filename='images/lapis.png')}}' style='width: 25pt; cursor: pointer;' id='btn-edit' alt='icone_lapis'/>",
                        orderable: false,
                    },
                    {data: 'placa'},
                    {data: 'veiculo'}
                ],
            });

            $('#placas tbody').on('click', '#btn-edit', function () {
                var data = table.row($(this).parents('tr')).data();
                $('#editId').val(data.id);
                $('#editPlaca').val(data.placa);
                $('#editVeiculo').val(data.veiculo);
                $('#editModal').modal('show');
            });

            $('#add-placa').on('click', function () {
                $('#editId').val(null);
                $('#editPlaca').val(null);
                $('#editVeiculo').val(null);
                $('#editModalLabel').text('Cadastrar Placa');
                $('#editModal').modal('show');
            });

            $('#editForm').on('submit', function(e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: '/atualizar/placas',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        $('#editModal').modal('hide');
                        table.ajax.reload();
                    }
                });
            });

            setupPlacaInput('editPlaca');

            var editVeiculo = document.getElementById('editVeiculo');
            editVeiculo.addEventListener('input', function() {
                editVeiculo.value = editVeiculo.value.toUpperCase();
            });
        });
    </script>
{% endblock %}
{% endblock %}
